{{!-- taken from Aron Duby's sweet codepen: https://codepen.io/aronduby/pen/qliuj --}}

{{#each rounds as |round index|}}
<ul class="round round-{{index}} {{if round.isClosed 'closed'}}">
  <li class="spacer round-header">&nbsp;<div style="background-color: #f4f4f4">{{round.name}}</div></li>

  {{#each round.matches as |match|}}        

  <li onclick={{action 'gotoMatch' match}} class="game game-top {{if match.winnerIsA 'winner'}} {{if match.loserIsA 'loser'}}">
    {{#if match.contenderA}}
      {{#if showRealNames}}{{match.contenderA.name}}{{/if}} {{#if bracket.isBlind}}({{match.contenderA.blindName}}){{/if}}
    {{else}}
      TBD
    {{/if}}
    <span>{{#if (or isOwner match.isClosed)}}{{match.votesA}}{{else}}<i class="fa fa-eye-slash"></i>{{/if}}</span>
  </li>
  <li onclick={{action 'gotoMatch' match}} class="game game-spacer">&nbsp;</li>
  <li onclick={{action 'gotoMatch' match}} class="game game-bottom {{if match.winnerIsB 'winner'}} {{if match.loserIsB 'loser'}}">
    {{#if match.contenderB}}
      {{#if showRealNames}}{{match.contenderB.name}}{{/if}} {{#if bracket.isBlind}}({{match.contenderB.blindName}}){{/if}}
    {{else}}
      TBD
    {{/if}}
    <span>{{#if (or isOwner match.isClosed)}}{{match.votesB}}{{else}}<i class="fa fa-eye-slash"></i>{{/if}}</span>
  </li>

  <li class="spacer">&nbsp;</li>

  {{/each}}

</ul>
{{/each}}
