{{!-- taken from Aron Duby's sweet codepen: https://codepen.io/aronduby/pen/qliuj --}}

{{#each rounds as |round index|}}
<ul class="round round-{{index}} {{if round.isClosed 'closed'}}">
  <li class="spacer round-header">&nbsp;<div style="background-color: #f4f4f4">{{round.name}} <i class="fa {{if round.isWaiting 'fa-clock-o'}}{{if round.isOpen 'fa-thumbs-o-up'}}{{if round.isClosed 'fa-times-circle-o'}}"></i></div></li>

  {{#each round.matches as |match|}}        

  <li onclick={{action 'gotoMatch' match}} class="game game-top {{if match.winnerIsA 'winner'}} {{if match.loserIsA 'loser'}}">
    {{#if match.contenderA}}
      {{#unless showBlindNames}}{{match.contenderA.name}}{{else}}{{match.contenderA.blindName}}{{/unless}}
    {{else}}
      TBD
    {{/if}}
    <span>{{match.votesA}}</span>
  </li>
  <li onclick={{action 'gotoMatch' match}} class="game game-spacer">&nbsp;</li>
  <li onclick={{action 'gotoMatch' match}} class="game game-bottom {{if match.winnerIsB 'winner'}} {{if match.loserIsB 'loser'}}">
    {{#if match.contenderB}}
      {{#unless bracket.isBlind}}{{match.contenderB.name}}{{else}}{{match.contenderB.blindName}}{{/unless}}
    {{else}}
      TBD
    {{/if}}
    <span>{{match.votesB}}</span>
  </li>

  <li class="spacer">&nbsp;</li>

  {{/each}}

</ul>
{{/each}}
