<div class="contender-editor">
{{#if quickInput}}

  {{#bs-tab onChange=(action 'tabChanged') as |tab|}}
    {{#tab.pane id="csvTab" title="CSV"}}
      {{textarea value=csvInputText class="csv-textarea"}}
    {{/tab.pane}}
    {{#tab.pane id="jsonTab" title="JSON"}}
      {{textarea value=jsonInputText class="json-textarea"}}
    {{/tab.pane}}
  {{/bs-tab}}

  <div id="contender-buttons">
    <button class="btn btn-danger top-right" {{action 'saveQuickInput'}}>Cancel</button>
    <button class="btn btn-primary top-right" {{action 'cancelQuickInput'}}>Save</button>
  </div>
{{else}}

  <button class="btn btn-info" {{action 'startQuickInput'}}>Quick edit</button>
  <div id="contender-buttons">
    <button class="btn btn-success" {{action 'addColumn'}}>+ Column</button>
  </div>

  <div class="table-scroll-wrapper">
    <table class="table table-hover table-striped table-responsive">
      <thead>
        <tr>
          {{#each-in headers as |header prop|}}
            {{#if (eq prop 'name')}}
            <th>Name</th>
            {{else}}
              {{#if (eq editingColumn prop)}}
              <th>{{input value=editingColumnValue}} <a {{action 'doneEditingColumnName' header prop}}><i class="fa fa-check"></i></a></th>
              {{else}}
              <th><a {{action 'editColumnName' header prop}}>{{header}}</a> <a {{action 'deleteColumn' prop}}><i class="fa fa-times"></i></a></th>
              {{/if}}
            {{/if}}
          {{/each-in}}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each contenders as |contender index|}}
        <tr>
          {{#each-in headers as |header prop|}}
          {{!--<td>{{get contender prop}}</td>--}}
          <td>{{input value=(mut (get contender prop))}}</td>
          {{/each-in}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{!-- winner could use   <td class="table-success">...</td>  --}}

{{/if}}
</div>
