<div class="contender-editor w-full">

  {{!-- header area --}}
  <div class="inline-flex w-full">
    {{#if quickInput}}
    <button {{action 'tabChanged' 'json'}} class="hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded-l {{if inputJSON 'bg-grey' 'bg-grey-light'}}">
      JSON
    </button>
    <button {{action 'tabChanged' 'csv'}} class="hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded-r {{if inputCSV 'bg-grey' 'bg-grey-light'}}">
      CSV
    </button>
    <div class="flex-grow"></div>
    <button class="bg-red-dark text-white py-2 px-4" {{action 'cancelQuickInput'}}>Cancel</button>
    <button class="bg-blue-dark text-white py-2 px-4" {{action 'saveQuickInput'}}>Save</button>
    {{else}}
    <button class="bg-green-dark text-white py-2 px-4" {{action 'addColumn'}}>+ Column</button>
    <div class="flex-grow"></div>
    <button class="bg-blue-dark text-white py-2 px-4" {{action 'startQuickInput'}}>Quick edit</button>
    {{/if}}
  </div>


  {{!-- table/editor area --}}
  <div class="flex w-full h-full">
  {{#if quickInput}}

    {{#if inputCSV}}
      {{textarea value=csvInputText class="csv-textarea border flex-grow h-48"}}
    {{else}}
      {{textarea value=jsonInputText class="json-textarea border flex-grow h-48"}}
    {{/if}}

  {{else}}

    <table class="table table-hover table-striped table-responsive">
      <thead>
        <tr>
          {{#each-in headers as |header prop|}}
            {{#if (eq prop 'name')}}
            <th>Name</th>
            {{else}}
              {{#if (eq editingColumn prop)}}
              <th>{{input value=editingColumnValue}} <a {{action 'doneEditingColumnName' header prop}}><i class="fa fa-check"></i></a></th>
              {{else}}
              <th><a {{action 'editColumnName' header prop}}>{{header}}</a> <a {{action 'deleteColumn' prop}}><i class="fa fa-times"></i></a></th>
              {{/if}}
            {{/if}}
          {{/each-in}}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each contenders as |contender index|}}
        <tr>
          {{#each-in headers as |header prop|}}
          {{!--<td>{{get contender prop}}</td>--}}
          <td>{{input value=(mut (get contender prop))}}</td>
          {{/each-in}}
        </tr>
        {{/each}}
      </tbody>
    </table>

  {{/if}}

  </div>
</div>
