<button class="bg-red text-white rounded px-4 py-2 {{sizeClass}}" {{action "handleClick"}}>
{{#if confirmState}}
  {{#if confirmText}}
  {{confirmText}}
  {{else}}
  {{fa-icon 'question-circle'}}
  {{/if}}
{{else}}
  {{#if text}}
  {{text}}
  {{else}}
  {{fa-icon icon}}
  {{/if}}
{{/if}}
</button>
