<h1 class="mb-4">Create new bracket</h1>
<form class="w-full flex flex-wrap" {{action 'submit' on="submit"}}>

  <div class="w-full lg:w-1/2 px-2">
    {{#form-element label="Name"}}
      {{input class="bg-grey-lighter appearance-none border-2 border-grey-lighter hover:border-purple rounded w-full py-2 px-4 text-grey-darker" type="text" value=name placeholder="Bracket name" required=true}}
    {{/form-element}}

    {{#form-element label="Contenders"}}
      {{#x-select value=numContenders action=(action 'numContendersChanged') class="form-control" as |xs|}}
        {{#each numContendersOptions as |numContendersOption|}}
          {{#xs.option value=numContendersOption}}{{numContendersOption}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    {{/form-element}}

    {{#form-element label="Type"}}
      {{#x-select value=type action=(action (mut type)) class="form-control" as |xs|}}
        {{#each typeOptions as |typeOption|}}
          {{#xs.option value=typeOption}}{{typeOption}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    {{/form-element}}

    {{#form-element label="Visibility"}}
      {{#x-select value=visibility action=(action (mut visibility)) class="form-control" as |xs|}}
        {{#each visibilityOptions as |visibilityOption|}}
          {{#xs.option value=visibilityOption}}{{visibilityOption}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    {{/form-element}}

    {{#form-element label="Seed column"}}
      {{#x-select value=seedProperty action=(action (mut seedProperty)) class="form-control" as |xs|}}
        {{#each columns as |seedProp|}}
          {{#xs.option value=seedProp}}{{seedProp}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    {{/form-element}}

    {{#form-element label="Seed ascending"}}
      {{input type="checkbox" checked=seedAscending}}
    {{/form-element}}

    {{#form-element label="Blind bracket"}}
      {{input type="checkbox" checked=blind}}
    {{/form-element}}

  </div>

  <div class="w-full lg:w-1/2 px-2">
    {{contender-editor
      contenders=contenders
      columns=columns 
      addColumn=(action "addColumn")
      deleteColumn=(action "deleteColumn")
      columnNameChanged=(action "columnNameChanged")
    }}
  </div>

  <div class="">
    <button class="shadow bg-blue-dark hover:bg-purple-light text-white font-bold py-2 px-4 rounded" type="submit">Create Bracket</button>
  </div>

</form>
