{{#bs-navbar position="fixed-top" as |navbar|}}
  {{#link-to "welcome" class="navbar-brand mr-auto"}}[bracketize]{{/link-to}}
  {{navbar.toggle}}
  {{#navbar.content}}
    {{#navbar.nav class="mr-auto" as |nav|}}
      {{#nav.item}}{{#link-to 'brackets' class="nav-link"}}Brackets{{/link-to}}{{/nav.item}}
      {{#nav.item}}{{#link-to 'favorites' class="nav-link"}}Favorites{{/link-to}}{{/nav.item}}
    {{/navbar.nav}}
    {{#navbar.nav class="ml-auto" as |nav|}}
      {{#if session.currentUser}}
        {{#nav.item}}<small class="navbar-text">{{session.currentUser.displayName}} <a {{action "signOut"}}>{{fa-icon 'sign-out'}} Sign Out</a></small>{{/nav.item}}
      {{else}}
        {{#nav.item}}{{#link-to "login" class="nav-link"}}{{fa-icon 'sign-in'}} Sign In{{/link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="main-container">
{{outlet}}
</div>

<div id="footer">

</div>
