{{#bs-navbar position="fixed-top" as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle align="right"}}
    {{#link-to "welcome" class="navbar-brand mr-auto"}}[bracketize]{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class="ml-auto" as |nav|}}
      {{#nav.item}}<span class="navbar-text">{{session.currentUser.displayName}}</span>{{/nav.item}}
      {{#nav.item}}<a {{action "signOut"}} class="nav-link">{{fa-icon 'sign-out'}} Sign Out</a>{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}


<div class="main-container">
{{outlet}}
</div>

<div id="footer">

</div>
