<div class="container">
  <div class="flex items-center justify-between flex-wrap">
  {{!-- header, bracket name, etc --}}
  <h1 class="mb-4">
    <span class="hidden md:inline">{{#link-to 'brackets'}}Brackets{{/link-to}} / </span>
    {{model.bracket.name}}
    {{#if model.bracket.isOpen}}<span class="hidden sm:inline"> - {{currentRound.name}}</span>{{/if}}
  </h1>

  {{#if isOwner}}
    <button {{action 'nextStatus'}} class="bg-blue-dark text-white py-2 px-4" disabled={{if model.bracket.isClosed 'true'}}>{{roundStatusButtonLabel}}</button>
  {{/if}}
  </div>

  {{bracket-viewer bracket=model.bracket rounds=model.bracket.rounds isOwner=isOwner gotoMatch=(action "gotoMatch")}}

</div>
