<div class="container">
  {{!-- header, bracket name, etc --}}
  <h1>{{content.bracket.name}}</h1>

  <div class="">
  {{#if isOwner}}
    <button {{action 'nextStatus'}} class="btn btn-primary" disabled={{if content.bracket.isClosed 'true'}}>{{roundStatusButtonLabel}}</button>
  {{/if}}
  </div>

  {{bracket-viewer bracket=model.bracket rounds=model.bracket.rounds isOwner=isOwner gotoMatch="gotoMatch"}}

</div>
