<div class="container">
  <h1>{{#link-to 'bracket' model.match.bracket.id}}{{model.match.bracket.name}}{{/link-to}}
  <div class="pull-right">
    <button {{action 'gotoMatch' prevMatch}} class="btn btn-primary" disabled={{unless prevMatch 'true'}}>Prev</button>
    <button {{action 'gotoMatch' nextMatch}} class="btn btn-primary" disabled={{unless nextMatch 'true'}}>Next</button>
  </div>
  </h1>
  <h4>
    {{#if model.match.isWaiting}}Waiting for voting{{/if}}
    {{#if model.match.isOpen}}Open for voting ({{model.match.votes.length}}){{/if}}
    {{#if model.match.isClosed}}Closed for voting ({{model.match.votes.length}}){{/if}}
  </h4>

  <div class="row">
    <div class="col-xs-12 col-lg-6">
      {{contender-card
        contender=model.match.contenderA 
        score=model.match.votesA
        winner=votedA
        matchIsOpen=model.match.isOpen
        matchIsClosed=model.match.isClosed
        isBlind=model.match.bracket.isBlind
        isOwner=isOwner
        bracketClosed=model.match.bracket.isClosed
        contenderClicked="contenderClicked"
      }}
    </div>

    <div class="col-xs-12 col-lg-6">
      {{contender-card
        contender=model.match.contenderB
        score=model.match.votesB
        winner=votedB
        matchIsOpen=model.match.isOpen
        matchIsClosed=model.match.isClosed
        isBlind=model.match.bracket.isBlind
        isOwner=isOwner
        bracketClosed=model.match.bracket.isClosed
        contenderClicked="contenderClicked"
      }}
    </div>
  </div>
</div>
{{!--
{{outlet}}
--}}
